@{
    ViewBag.Title = "Index";
}

<h2>@Html.Raw(ViewBag.Title)</h2>

<table class="table table-hover" ng-controller="bookingController">
    <thead>
      <tr class="active">
        <td>Name</td>
        <td>Email</td>
        <td>Date</td>
        <td>Guests</td>
      </tr>
    </thead>
    <tbody ng-repeat="book in bookings">
      <tr class="success">
        <td>{{book.givenName}} {{book.surnmae}}</td>
        <td>{{book.email}}</td>
        <td>{{book.bookingDate}}</td>
        <td>{{book.numberOfGuests}}</td>
       </tr>
    </tbody>
  

</table>

